<mat-toolbar color="primary">
  <h1 class="w-100 cabecalho" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <img src="/assets/imagens/coobrastur_logo.png" class="logo" alt="coobrastur">
    <div fxLayout="row" class="mt-0">
      <button *ngIf="botao.botaoAdicionarVisibilidade" mat-flat-button class="mr-25">
        <mat-icon>add</mat-icon> {{ botao.botaoAdicionarNome }}
      </button>
      <button mat-button>
        <mat-icon>login</mat-icon> Sair
      </button>
    </div>
  </h1>
</mat-toolbar>

